{%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<figure>

  <picture>
    {% if site.imagemagick.enabled %}
      {% comment %}WebP versions{% endcomment %}
      <source
        type="image/webp"
        srcset="{{ img_path | relative_url }}-200-v1.webp 200w,
                {{ img_path | relative_url }}-480-v1.webp 480w,
                {{ img_path | relative_url }}-800-v1.webp 800w,
                {{ img_path | relative_url }}-1400-v1.webp 1400w"
        sizes="(max-width: 500px) 90vw,
               (max-width: 768px) 50vw,
               25vw"
      />
    {% endif %}

    <!-- Fallback -->
    <img
        src="{{ img_path | relative_url }}-v1.jpg"
        {% if include.class %}class="{{ include.class }}"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% else %}width="480"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% else %}height="468"{% endif %}
        {% if include.alt %}alt="{{ include.alt }}"{% endif %}
        {% if include.title %}title="{{ include.title }}"{% endif %}
        {% if include.zoomable %}data-zoomable{% endif %}
        fetchpriority="high"
        loading="eager"
        onerror="this.onerror=null; this.srcset='';"
      />
  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>