{%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" | remove: ".webp" -%}

<figure>

  <picture>
    {% if site.imagemagick.enabled and include.path contains "prof_pic" %}
      {% comment %}Responsive WebP for profile pic only{% endcomment %}
      <source
        type="image/webp"
        srcset="{{ img_path | relative_url }}-200-v1.webp 200w,
                {{ img_path | relative_url }}-480-v1.webp 480w,
                {{ img_path | relative_url }}-800-v1.webp 800w,
                {{ img_path | relative_url }}-1400-v1.webp 1400w"
        sizes="(max-width: 500px) 90vw,
               (max-width: 768px) 50vw,
               25vw"
      />
    {% endif %}

    <!-- Fallback -->
    <img
        src="{% if include.path contains 'prof_pic' %}{{ img_path | relative_url }}-v1.jpg{% else %}{{ include.path | relative_url }}{% endif %}"
        {% if include.class %}class="{{ include.class }}"{% endif %}
        {% if include.width %}width="{{ include.width }}"{% endif %}
        {% if include.height %}height="{{ include.height }}"{% endif %}
        {% if include.alt %}alt="{{ include.alt }}"{% endif %}
        {% if include.title %}title="{{ include.title }}"{% endif %}
        {% if include.zoomable %}data-zoomable{% endif %}
        {% if include.path contains "prof_pic" %}fetchpriority="high" loading="eager"{% else %}loading="lazy"{% endif %}
        onerror="this.onerror=null; this.srcset='';"
      />
  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>