<div id="spotify-container">
      <div class="music-emoji">🎧 Currently listening to:</div>
      <a href="https://spotify-github-profile.kittinanx.com/api/view?uid=11130333962&redirect=true"
         target="_blank"
         rel="noopener">
        <img src="https://spotify-github-profile.kittinanx.com/api/view?uid=11130333962&cover_image=true&theme=novatorem&show_offline=true&background_color=121212&interchange=false&bar_color=53b14f&bar_color_cover=false"
             alt="Spotify: Currently playing track"
             width="150"
             height="50"
             loading="lazy"
             onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
      </a>
      <div class="spotify-error" style="display:none;">
        🎧 Widget unavailable.
      </div>
</div>