{% if page.mermaid and page.mermaid.enabled %}
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/mermaid@{{ site.mermaid.version }}/dist/mermaid.min.js"
    integrity="{{ site.mermaid.integrity.js }}"
    crossorigin="anonymous"
  ></script>
  {% if page.mermaid.zoomable %}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/d3@{{ site.d3.version }}/dist/d3.min.js"
      integrity="{{ site.d3.integrity.js }}"
      crossorigin="anonymous"
    ></script>
  {% endif %}
  <script defer src="{{ '/assets/js/mermaid-setup.js' | relative_url }}" type="text/javascript"></script>
{% endif %}